# Base16 {{scheme-name}} - mako color config
# Scheme by {{scheme-author}}
background-color=#{{base00-hex}}
text-color=#{{base05-hex}}
border-color=#{{base05-hex}}

[urgency=high]
text-color=#{{base08-hex}}
border-color=#{{base08-hex}}
