# Base16 {{scheme-name}} - sway color config
# Scheme by {{scheme-author}}

client.focused #{{base04-hex}} #{{base00-hex}} #{{base04-hex}} #{{base04-hex}} #{{base04-hex}}
client.focused_inactive #{{base00-hex}} #{{base00-hex}} #{{base05-hex}} #{{base00-hex}} #{{base00-hex}}
client.unfocused #{{base00-hex}} #{{base00-hex}} #{{base05-hex}} #{{base00-hex}} #{{base00-hex}}
