let s:gui00        = "{{base00-hex}}"
let s:gui01        = "{{base01-hex}}"
let s:gui02        = "{{base02-hex}}"
let s:gui03        = "{{base03-hex}}"
let s:gui04        = "{{base04-hex}}"
let s:gui05        = "{{base05-hex}}"
let s:gui06        = "{{base06-hex}}"
let s:gui07        = "{{base07-hex}}"
let s:gui08        = "{{base08-hex}}"
let s:gui09        = "{{base09-hex}}"
let s:gui0A        = "{{base0A-hex}}"
let s:gui0B        = "{{base0B-hex}}"
let s:gui0C        = "{{base0C-hex}}"
let s:gui0D        = "{{base0D-hex}}"
let s:gui0E        = "{{base0E-hex}}"
let s:gui0F        = "{{base0F-hex}}"

" Theme setup
hi clear
syntax reset
let g:colors_name = "base16-{{scheme-slug}}"
